<header id="main-header">
    <div id="logo">
        <a href="/">MS</a>
    </div>
    <nav>
        <%- include("nav-items"); %>
    </nav>
    <button id="mobile-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
<aside id="mobile-menu">
    <nav>
        <%- include("nav-items"); %>
    </nav>
</aside>