<ul class="nav-items">
    <li>
        <a href="/">Shop</a>
    </li>
    <li>
        <a href="/cart">
            Cart
        </a>
    </li>
    <li>
        <a href="/signup">
            Signup
        </a>
    </li>
    <li>
        <a href="login">
            Login
        </a>
    </li>
</ul>