<%- include("../shared/includes/head", {Ptitle: "Products"}); %>
</head>
<body>
    <%- include("../shared/includes/header"); %>
    <main>
        <h1>Error 401</h1>
        <p>You are not Authenticated!</p>
    </main>
</body>
</html>