<%- include("../shared/includes/head", {Ptitle: "Products"}); %>
</head>
<body>
    <%- include("../shared/includes/header"); %>
    <main>
        <h1>Error 500</h1>
        <p>There is something wrong with the server!</p>
    </main>
</body>
</html>