<%- include("./includes/head", {Ptitle: "Signup"}); %>
<link rel="stylesheet" href="styles/auth.css">
</head>
<body>
    <%- include("./includes/header"); %>
    <main>
        <h1>Create New Account</h1>
        <form action="/signup" method="POST">
            <div>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass" required>
            </div>
            <div>
                <label for="confirm-pass">Confirm Password</label>
                <input type="password" name="confirm-pass" id="confirm-pass" required>
            </div>
            <hr>
            <div> 
                <label for="full-name">Full Name</label>
                <input type="text" name="full-name" id="full-name" required>
            </div>
            <div>
                <label for="street">Street</label>
                <input type="text" name="street" id="street" required>
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" id="city" required>
            </div>
            <button class="btn" type="submit">Signup</button>
            <span><a href="/login">Login Instead</a></span>
        </form>
    </main>
</body>
</html>