<%- include("../shared/includes/head", {Ptitle: "Add New Product"}); %>
    <link rel="stylesheet" href="/styles/products.css">
</head>
<body>
    <%- include("../shared/includes/header"); %>
    <main>
        <h1>Add new Product</h1>
        <form action="/admin/product" method="POST" id="add-prod" enctype="multipart/form-data">
            <%- include("./includes/prod-form") %>
        </form>
    </main>
</body>
</html>