<%- include("../shared/includes/head", {Ptitle: "Add New Product"}); %>
    <link rel="stylesheet" href="/styles/products.css">
    <script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include("../shared/includes/header"); %>
    <main>
        <h1>Add new Product</h1>
        <form action="/admin/product" method="POST" id="add-prod" enctype="multipart/form-data">
            <%- include("./includes/prod-form", {prod: {
                title: "",
                summary: "",
                price: "",
                description: "",
                image: "",
                imgRequired: true
            }}) %>
        </form>
    </main>
</body>
</html>