<%- include("../shared/includes/head", {Ptitle: "Add New Product"}); %>
    <link rel="stylesheet" href="/styles/products.css">
    <script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include("../shared/includes/header"); %>
    <main>
        <h1>Update Product</h1>
        <form action="/admin/product/<%= product.id %>" method="POST" id="add-prod" class="update-prod" enctype="multipart/form-data">
            <%- include("./includes/prod-form", {prod: product}) %>
        </form>
    </main>
</body>
</html> 