form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    padding: var(--space-2);
}

input , textarea{
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
    width: 90%;
    margin-bottom: var(--space-4);
    border: 1px solid var(--color-gray-600);
}

.errorM{
    color: var(--color-primary-200-contrast);
    text-align: center;
}