<%- include("../shared/includes/head", {Ptitle: "Orders" }); %>
    </head>

    <body>
        <%- include("../shared/includes/header"); %>
            <main>
                <h1>Your Orders</h1>
                <section>
                    <div>
                        <ul>
                            <% for (order of orders){ %>
                                <%- include("../shared/includes/order-item") %>
                            <% } %>
                        </ul>
                    </div>
                </section>
            </main>
    </body>

    </html>